name: deploy

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  deploy-to-ec2:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # === 1. Construir a chave .pem ===
      - name: Create SSH key
        run: |
          echo "${{ secrets.AWS_SSH_EC2 }}" > key.pem
          chmod 600 key.pem

      # === 2. Criar arquivo .env com os secrets ===
      - name: Create .env file
        run: |
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "DB_ROOT_PASSWORD=${{ secrets.DB_ROOT_PASSWORD }}" >> .env
          echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
          echo "AWS_BUCKET=${{ secrets.AWS_BUCKET }}" >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
          echo "JWT_VALIDITY=${{ secrets.JWT_VALIDITY }}" >> .env
          echo "RABBITMQ_HOST=${{ secrets.RABBITMQ_HOST }}" >> .env
          echo "RABBITMQ_PORT=${{ secrets.RABBITMQ_PORT }}" >> .env
          echo "RABBITMQ_USERNAME=${{ secrets.RABBITMQ_USERNAME }}" >> .env
          echo "RABBITMQ_PASSWORD=${{ secrets.RABBITMQ_PASSWORD }}" >> .env

      # === 3. Copiar docker-compose.yml para EC2 privada via bastion ===
      - name: Copy docker-compose to private EC2 via bastion
        run: |
          scp -o StrictHostKeyChecking=no \
            -i key.pem \
            -o ProxyCommand="ssh -i key.pem -o StrictHostKeyChecking=no -W %h:%p ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_BASTION_IP }}" \
            docker-compose.yml \
            ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_IP }}:/home/${{ secrets.AWS_EC2_USER }}/docker-compose.yml

      # === 4. Copiar .env para EC2 privada via bastion ===
      - name: Copy .env to private EC2 via bastion
        run: |
          scp -o StrictHostKeyChecking=no \
            -i key.pem \
            -o ProxyCommand="ssh -i key.pem -o StrictHostKeyChecking=no -W %h:%p ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_BASTION_IP }}" \
            .env \
            ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_IP }}:/home/${{ secrets.AWS_EC2_USER }}/.env

      # === 5. Rodar docker compose pull + up -d na EC2 privada via bastion ===
      - name: Deploy on private EC2 via bastion
        run: |
          ssh -o StrictHostKeyChecking=no \
          -i key.pem \
          -o ProxyCommand="ssh -i key.pem -o StrictHostKeyChecking=no -W %h:%p ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_BASTION_IP }}" \
           ${{ secrets.AWS_EC2_USER }}@${{ secrets.AWS_EC2_IP }} \
          "echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin && docker compose pull && docker compose up -d"
